<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Wild Series {% endblock %}</title>
        <link rel="icon" href="{{ asset('build/favicon.ico') }}"/>
        {% block stylesheets %}
        <link rel="stylesheet" href="/build/app.css">
        {% endblock %}
    </head>
    <body>
        <header>
            {% include "_navbar.html.twig" %}
        </header>
        
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
